.Home{
    
    display: flex;
    .content{
        flex: 10;
        background-color: White;
    }

    .widgets{

        display: flex;
        flex: 1;
        margin: 20px;
        
    }
    
    
}