.Home{
    
    display: flex;
    .content{
        flex: 10;
        background-color: White;
    }

    .widgets{

        display: flex;
        flex: 1;
        margin: 20px;
        
    }

    .container{
        display: flex;
        flex: 1;
        margin-left: 10px;
        height: 65vh;
        width: auto;
        // background-color: red;
    }

    
    
    
}