.Home{
    
    display: flex;
    .content{
        flex: 10;
        // background-color: White;
    }

    .widgets{
        
        display: flex;
        flex: 1;
        margin: 20px;
        
    }

    .container{
        
        display: flex;
        flex: 1;
        margin-left: 10px;
        height: 65vh;
        width: auto;
        // background-color: red;
    }

    .listtables{
        width: auto;
        height: auto;
        border-radius: 5px;
        display: flex;
        text-align: left;
        padding: 10px;
        gap: 50px;
        background-color: white;
        box-shadow: -1px 5px 9px -2px rgba(71,71,71,0.75);
        -webkit-box-shadow: -1px 5px 9px -2px rgba(71,71,71,0.75);
        -moz-box-shadow: -1px 5px 9px -2px rgba(71,71,71,0.75);
    }

    
    
    
}